doctype html
html
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
    title Tales of Interest
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')

  body#app
    header
      nav
        .nav-wrapper.row
          .col.s2
            search
            
          .col.s10
            h5.right.brand-logo.hide-on-small-only Tales of Interest
            h5.center.brand-logo.hide-on-med-and-up Tales of Interest

    script(src='require.js')
