doctype html
html(ng-app='toi')
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
    title Tales of Interest
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')

  body
    header
      nav
        .nav-wrapper.row
          .col.s2
            .btn-flat.waves-effect.waves-light.left.hide-on-small-only Search
            .btn-flat.waves-effect.waves-light.left.hide-on-med-and-up S
            
          .col.s8
            .center Tales of Interest
            
          .col.s2
            .btn-flat.waves-effect.waves-light.left.hide-on-small-only History
            .btn-flat.waves-effect.waves-light.left.hide-on-med-and-up H

    script(src='require.js')
