.input-field
  input(placeholder="Search" v-model='search').hide-on-small-only
  input(placeholder="S" v-model='search').hide-on-med-and-up
  
.collection(v-show='showList')
  a(v-for='result in searchResults').collection-item {{result}}