.search
  .input-field
    input(placeholder="Search" v-model='search').hide-on-small-only
    
    a(data-activates='{{slideId}}' id='{{menuButton}}').button-collapse.hide-on-med-and-up S
      
  
  //Search results for non-mobile
  .collection.hide-on-small-only(v-show='showList')
    a(v-for='result in searchResults').collection-item {{result}}
    
    
  //search results for mobile
  ul(id='{{slideId}}').side-nav
    li
      input(placeholder="Search" v-model='search')
    li(v-for='result in searchResults')
      div {{result}}