doctype html
html(ng-app='toi')
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
    title Tales of Interest!

  body(ng-class="{'freeze-body':showHistory}")
    .container-fluid
      .navbar.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header.header
            button.btn.btn-default.navbar-btn.left
              span.glyphicon.glyphicon-search

            .middle
              h4 Tales of Interest

            button(ng-click="showHistory = !showHistory").btn.btn-default.navbar-btn.right
              span.glyphicon.glyphicon-list

      .title-spacer
      div(ng-view).index-view


    div(history-panel-dir)

    script(src='require.js')
