doctype html
html(ng-app='toi')
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
    title Tales of Interest!

  body(ng-class="{'freeze-body':showHistory}")
    .container-fluid
      .navbar.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header.header

            button(ng-click="showSearch = !showSearch").btn.btn-default.navbar-btn.left
              span(ng-if="!showSearch").glyphicon.glyphicon-search
              span(ng-if="showSearch").glyphicon.glyphicon-remove.text-danger

            .middle
              h4 Tales of Interest

            button(ng-click="showHistory = !showHistory").btn.btn-default.navbar-btn.right
              span(ng-if="!showHistory").glyphicon.glyphicon-list
              span(ng-if="showHistory").glyphicon.glyphicon-remove.text-danger

      .title-spacer
      div(ng-view).index-view


    div(history-panel-dir)
      div()

    script(src='require.js')
