.header {
  position: relative;

  .left {
    position: absolute;
    left: 0;
    top: 0;
  }

  .middle {
    width: 100%;
    text-align: center;
  }

  .right {
    position: absolute;
    top: 0;
    right: 0;
  }

  h4 {
    padding-left: 10px;
    letter-spacing: 2px;
  }
}

.index-view {
  padding: 0 20px;
}

.title-spacer {
  height: 30px;
}