.history-panel {
  position: fixed;
  top: 41px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding-bottom: 50px;

  .page-header {
    border-bottom-color: inherit;
    margin-top: 0;
  }

  ul {
    position: relative;
  }

  li {
    margin: 10px;
    //overflow-x: hidden;'
    word-wrap: break-word;
  }

  li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
}

.freeze-body {
  overflow: hidden !important;
}